
:root{
  font-size: 1rem;
}
body{
  min-width: 300px;
  margin: 0 0;
  /* display:table; */
}
.users-table{
  width: 100vw;
  line-height: 1rem;
}
.users-table th,
.users-table td {
    padding: 0 0;
    margin: 0 0;
}

.loader{
  height: 5vw;
  width: 5vw;
  position: absolute;
  top:0;
}
.l1{
  right:2vw;
}
.l2{
  right:10vw;
}
.l3{
  right:20vw;
}
.l4{
  right:30vw;
}
.l5{
  right:40vw;
}
.l6{
  right:50vw;
}

button{
  line-height: 1rem;
}